html,
body,
main,
.page {
    height: 100%;
    width: 100%;
}

main {
    overflow: auto;
}



@font-face {
    font-family: 'Digital';
    src: url('../customfonts/7segment.woff') format('woff'), url('../customfonts/7segment.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* [data-type="analogscala"] > .overlay:before {
    font-family: 'Digital', sans-serif;
}